.Model{
    background-color: white;
    position: fixed;
    height: 50%;
    width: 40%;
    left: 30%;
    top:25%;
    z-index: 200;
    transition: all .5s ease-out;

}
@media (max-width:600px){
    .Model{
        height: 60%;
        width: 80%;
        left: 10%;
        top:10%;

    }
}

