.Form{
    width: 40%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc
}

@media (max-width:600px){
    .Form{
        width: 60%;
    }
}

.Form button {
    background-color: #DAD735;
    outline: none;
    width: 80px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #966909;
    color: #966909;
    font-family: inherit;
    font-size: 1.2em;
    padding: 10px;
    box-shadow: 2px 2px 2px #966909;
}

.Form button:hover, .Form button:active {
    background-color: #A0DB41;
    border: 1px solid #966909;
    color: #966909;
}

.Form button:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}
